
/* label color */
.input-field label {
    color: grey !important;
}
  /* label focus color */
.input-field input[type=text]:focus + label {
    color: #F58635 !important;
}
  /* label underline focus color */
.input-field input[type=text]:focus,input[type=email]:focus,input[type=password]:focus{
    border-bottom: 1px solid #F58635 !important;
    box-shadow: 0 1px 0 0 #F58635 !important;
}
  /* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #F58635 !important;
    box-shadow: 0 1px 0 0 #F58635 !important;
}
  /* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #F58635 !important;
    box-shadow: 0 1px 0 0 #F58635 !important;
}
  /* icon prefix focus color */
.input-field .prefix.active {
    color: #F58635 !important;
}


.container{
    width: 95%;
}
.circle-badge{
    position: relative;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

nav{
    background-color: #374A8E;
}

.nav-wrapper{
    background-color: #374A8E;
}

.mt-1{
    margin-top: 25px;
}
.mt-2{
    margin-top: 50px;
}
.mt-3{
    margin-top: 100px;
}
.mb-1{
    margin-bottom: 25px;
}
.mb-2{
    margin-bottom: 50px;
}
.page-footer{
    background-color: #374A8E;
}

.w-100{
    width: 100%;
}

.product-name{
    font-weight: bold;
    color: black;
}
.product-price{
    font-weight: bold;
    color: #F58635;
}
.card .card-content {
    padding: 5px;
    border-radius: 0 0 2px 2px;
}
.card .card-action{
    padding:5px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0%;
}

.input-search{
    padding-left: 8px !important;
    border-radius: 5px !important;
}
.btn-right{
    position: absolute;
    right: 8px;
    bottom: .1rem;
    background-color: transparent;
    border: transparent;
}

.default-input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: none;
}
.browser-default{
    background-color: white !important;
    border-radius: 5px;
}
select:focus {
    outline: none !important;
}
.carousel .indicators .indicator-item{
    background-color: #F58635;
}
.carousel .indicators .indicator-item.active {
    background-color: #f58635b8;
}
.numeric-input{
    display: inline !important;
}
.numeric-input > input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.numeric-input > input[type=number] {
    -moz-appearance: textfield;
}
#numeric-input{
    width: 10%;
    border-bottom: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
/* .numeric-input > .numeric-input-minus{
    border-radius: 10px 0px 0px 10px;
}
.numeric-input > .numeric-input-plus{
    border-radius: 0px 10px 10px 0px;
} */

.alert{
    font-weight: bold;
}

