body{
    background-color:whitesmoke;
}
/* label color */
.input-field label {
    color: grey !important;
}
  /* label focus color */
.input-field input[type=text]:focus + label {
    color: #F58635 !important;
}
  /* label underline focus color */
.input-field input[type=text]:focus,input[type=email]:focus,input[type=password]:focus{
    border-bottom: 1px solid #F58635 !important;
    box-shadow: 0 1px 0 0 #F58635 !important;
}
  /* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #F58635 !important;
    box-shadow: 0 1px 0 0 #F58635 !important;
}
  /* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #F58635 !important;
    box-shadow: 0 1px 0 0 #F58635 !important;
}
  /* icon prefix focus color */
.input-field .prefix.active {
    color: #F58635 !important;
}


.container{
    width: 95%;
    min-height:75vh;
}
.circle-badge{
    position: relative;
    top: -130px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

nav{
    background-color:rgba(62, 158, 246, 1);
}

.nav-wrapper{
    background-color:rgba(62, 158, 246, 1);
}

.mt-1{
    margin-top: 25px;
}
.mt-2{
    margin-top: 50px;
}
.mt-3{
    margin-top: 55px;
}

.mb-1{
    margin-bottom: 25px;
}
.mb-2{
    margin-bottom: 50px;
}
.page-footer{
    background-color: #374A8E;
}

.w-100{
    width: 100%;
}

.product-name{
    font-weight: bold;
    color: black;
}
.product-price{
    font-weight: bold;
    color: #F58635;
}
.card .card-content {
    padding: 5px;
    border-radius: 0 0 2px 2px;
}
.card .card-action{
    padding:5px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0%;
}

.input-search{
    padding-left: 8px !important;
    border-radius: 5px !important;
}
.btn-right{
    position: absolute;
    right: 8px;
    bottom: .1rem;
    background-color: transparent;
    border: transparent;
}

.default-input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: none;
}
.browser-default{
    background-color: white !important;
    border-radius: 5px;
}
select:focus {
    outline: none !important;
}
.carousel .indicators .indicator-item{
    background-color: #F58635;
}
.carousel .indicators .indicator-item.active {
    background-color: #f58635b8;
}
.numeric-input{
    display: inline !important;
}
.numeric-input > input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.numeric-input > input[type=number] {
    -moz-appearance: textfield;
}
#numeric-input{
    width: 10%;
    border-bottom: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.alert{
    font-weight: bold;
}
.dropdown-content {
    position: absolute;
    color: white;
    top: 40px!important;   
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #F58635;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

/* custom css number input */

.input-number-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .input-number-group input[type=number]::-webkit-inner-spin-button,
  .input-number-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
            appearance: none !important;
  }
  
  .input-number-group .input-group-button {
    line-height: calc(80px/2 - 5px)!important;
  }
  
  .input-number-group .input-number {
    width: 25px!important;
    padding: 0 12px!important;
    text-align: center!important;
    outline: none!important;
    display: block!important;
    margin: 0!important;
    border-bottom: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }
  
  /* .input-number-group .input-number,
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    border: 1px solid #cacaca!important;
    height: 40px!important;
    -webkit-user-select: none!important;
       -moz-user-select: none!important;
        -ms-user-select: none!important;
            user-select: none!important;
    border-radius: 0;
  } */
  
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    display: inline-block!important;
    width: 40px!important;
    height: 40px!important;
    background: #e6e6e6!important;
    color: #0a0a0a!important;
    text-align: center!important;
    font-weight: bold!important;
    cursor: pointer!important;
    font-size: 2rem!important;
    font-weight: 400!important;
  }
  
  .input-number-group .input-number-decrement {
    margin-right: 0.3rem!important;
  }
  
  .input-number-group .input-number-increment {
    margin-left: 0.3rem!important;
  }
  
  .table-wrapper{
    overflow: auto;
    white-space: nowrap;
  }
  .text-bold{
      font-weight: bold;
  }

  /* modified materialize pagination */
.pagination li a {
    color: #b1afaf;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}
.pagination li.active a {
    color: #000;
}
.pagination li.active {
    background-color: white;
    font-weight: bold;
}

/* custom tabs */
.tabs .tab .disabled a{
    color:grey !important;
} /*disabled to the text*/

.tabs .tab a{
    background-color:white !important;
    color:#000 !important;
    line-height: 100%;
    overflow: hidden;
    white-space: initial;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle!important;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee !important;
    color:#000 !important;
} /*Text color on hover*/

.tabs .tab a.active {
    
    color:black !important;
    font-weight: bold;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: #F58635 !important;
} /*Color of underline*/

/* radio button color */
.with-gap[type="radio"]:checked+span:after{
    background-color: #ff9800;
    border-color: #ff9800;
 } 
 .with-gap[type="radio"]:checked+span:before{
    border-color: #ff9800;
  }

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #F58635;
    border-bottom: 2px solid #F58635;
}

/* customize textarea */
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #F58635;
    -webkit-box-shadow: 0 1px 0 0 #F58635;
    box-shadow: 0 1px 0 0 #F58635;
}

/* /custom button floatin */
.btn-floating.btn-halfway-fab {
    position: absolute;
    right: 24px;
    bottom: 20px;
}

/* button with icon */
.btn-icon{
    font-size: calc(.5em + .5vw) !important;
    justify-content: center;
    display: flex;
}
.rating  a span i{
    font-size: calc(.5em + 1vw) !important;
}

.carousel{
    min-height: 100px;
    overflow: hidden;
}
.carousel.carousel-slider .carousel-item {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}


/* custom searchbar */
    .search-form{
        display: flex !important;
        width: 100%;
    }
    .search {
        width: 100% !important;
        position: relative!important;
        display: flex!important;
        padding: 0 10px 0 10px;
    }
  
    .searchTerm {
        width: 100%;
        background-color: white!important;
        box-shadow: none !important;
        border: 3px solid #F58635!important;
        border-right: none!important;
        padding: 5px!important;
        height: 25px!important;
        border-radius: 5px 0 0 5px!important;
        outline: none!important;
        color: #9DBFAF!important;
    }
  
    .searchTerm:focus{
        color: #F58635!important;
    }
  
    .searchButton {
        width: 40px!important;
        height: 41px!important;
        border: 1px solid #F58635!important;
        background: #F58635!important;
        text-align: center!important;
        color: #fff!important;
        border-radius: 0 5px 5px 0!important;
        cursor: pointer!important;
        font-size: 30px!important;
        right: 100px;
        display: inline-block!important;
        
    }
    .searchFilter{
        background-color: rgba(255,255,255,0.9);
        width: auto;
        padding: 5px;
        border: 3px solid #F58635 !important;
        border-radius: 0 !important;
        height: 41px!important;
    }
    .searchButton .fa, .fab, .fad, .fal, .far, .fas {
        line-height: 1 !important;
    }
  
  /*Resize the wrap to see the search bar change!*/
.wrap{
    position: relative;
}
.scrollToTop{
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom:0;
    left: 50%;
    display:none;
}

.carousel-item{
    object-fit: contain;
    height: 100%;
    width: 100%;
}


.inline{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
}
.no-margin{
    margin: 0;
}

.container-bg{
    background-image: url(https://gratisography.com/wp-content/uploads/2018/05/gratisography-239H-1170x780.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    
}
.container-layer{ 
    background-color: rgba(245,134,53,0.35);
    width: 100%;
    height: 100%;
}
.reviews-btn{
    cursor: pointer;
}
.review-btn > .material-icons{
    font-size: 75px !important;
}

